.ods {
    height: 100%;
    width: 100%;
    background: url(../../img/banner.png) no-repeat bottom / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 20%;
}

.ods__reverse {
    height: 100%;
    width: 100%;
    background: url(../../img/banner2.png) no-repeat top / cover;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 30%;
}

li{
    font-size: 1.5rem;
}